port: 4223

# open while need a http port for monitor
http_port: 8223

cluster {
  listen: 0.0.0.0:6223
  routes: [
    "nats-route://nats1:6221",
    "nats-route://nats2:6222",
  ]
}

streaming {
  id: test
  store: file
  dir: storec
  cluster {
    node_id: "c"
    peers: ["a", "b"]
  }
}

authorization {
  user: "jim"
  pass: "password"
}

# pid file: store pid
# pid_file: "nats_streaming.pid"


# logging options
debug:   true # false on production
# debug:   false
# trace:   true # false on production
trace:   false
# logtime: true # log(true) or fmt(false) on golang
logtime: true 
# log_file: "node.log"