port: 4222

# open while need a http port for monitor
http_port: 8222

cluster {
  listen: 0.0.0.0:6222
  routes: [
    "nats-route://nats1:6221",
    "nats-route://nats3:6223",
  ]
}

streaming {
  id: test
  store: file
  dir: storeb
  cluster {
    node_id: "b"
    peers: ["a", "c"]
  }
}

authorization {
  user: "jim"
  pass: "password"
}

# pid file: store pid
# pid_file: "nats_streaming.pid"


# logging options
debug:   true # false on production
# debug:   false
# trace:   true # false on production
trace:   false
# logtime: true # log(true) or fmt(false) on golang
logtime: true 
# log_file: "node.log"