port: 4221

# open while need a http port for monitor
http_port: 8221

cluster {
  listen: 0.0.0.0:6221
  routes: [
    "nats-route://nats2:6222",
    "nats-route://nats3:6223",
  ]
}

streaming {
  id: test
  store: file
  dir: storea
  cluster {
    node_id: "a"
    peers: ["b", "c"]
  }
}

authorization {
  user: "jim"
  pass: "password"
}

# pid file: store pid
# pid_file: "nats_streaming.pid"


# logging options
debug:   true # false on production
# debug:   false
# trace:   true # false on production
trace:   false
# logtime: true # log(true) or fmt(false) on golang
logtime: true 
# log_file: "node.log"